absl-py==2.1.0
aiohttp==3.8.6
aiosignal==1.3.1
annotated-types==0.6.0
antlr4-python3-runtime==4.7.2
anyio==3.7.1
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.1.0
autobahn==23.6.2
Babel==2.15.0
beautifulsoup4==4.12.3
bleach==6.1.0
cairocffi==1.6.1
CairoSVG==2.7.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.4
comm==0.2.2
contourpy==1.1.0
cryptography==42.0.8
cssselect2==0.7.0
cycler==0.11.0
dataclasses-json==0.6.1
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
distro==1.8.0
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==2.0.1
fastjsonschema==2.20.0
flatbuffers==24.3.7
fonttools==4.42.1
fqdn==1.5.1
frozenlist==1.4.0
future==0.18.3
gast==0.5.4
geographiclib==2.0
geopy==2.4.0
ghostscript==0.7
gkeepapi==0.14.2
google-pasta==0.2.0
gpsoauth==1.0.2
groq==0.5.0
grpcio==1.62.1
h11==0.14.0
h5py==3.10.0
httpcore==1.0.1
httpx==0.25.1
hyperlink==21.0.0
ibapi==9.81.1.post1
idna==3.4
imageio==2.31.1
imageio-ffmpeg==0.4.8
importlib-metadata==6.8.0
ipykernel==6.29.4
ipython==8.24.0
ipywidgets==8.1.3
isoduration==20.11.0
jaraco.classes==3.3.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.3.2
json5==0.9.25
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.1
jupyter_server_proxy==4.2.0
jupyter_server_terminals==0.5.3
jupyterlab==4.2.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
jupyterlab_vpython==3.1.8
jupyterlab_widgets==3.0.11
keras==3.1.1
keyring==24.2.0
keyrings.alt==4.2.0
kiwisolver==1.4.4
langchain==0.0.331
langchain-core==0.1.48
langchain-groq==0.1.3
langsmith==0.1.52
latex2sympy2==1.9.1
libclang==18.1.1
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.20.1
matplotlib==3.7.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.3.2
more-itertools==9.1.0
mplcursors==0.5.3
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
namex==0.0.7
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
nltk==3.8.1
notebook==7.2.1
notebook_shim==0.2.4
numpy==1.25.2
openai==0.28.1
opencv-python==4.9.0.80
openpyxl==3.1.2
opt-einsum==3.3.0
optree==0.10.0
orjson==3.10.2
overrides==7.7.0
packaging==23.2
pandas==2.1.1
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
Pillow==10.0.0
platformdirs==4.2.2
prometheus_client==0.20.0
prompt-toolkit==3.0.43
protobuf==4.25.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pycryptodomex==3.18.0
pydantic==2.4.2
pydantic_core==2.10.1
pygame==2.1.2
Pygments==2.17.2
pyparsing==3.0.9
pyperclip==1.8.2
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==26.0.3
qtconsole==5.5.2
QtPy==2.4.1
referencing==0.35.1
regex==2023.12.25
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.1
scikit-learn==1.4.1.post1
scipy==1.11.4
seaborn==0.13.0
Send2Trash==1.8.3
simpervisor==1.0.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==2.0.23
stack-data==0.6.3
sympy==1.12
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.36.0
termcolor==2.4.0
terminado==0.18.1
textblob==0.18.0.post0
threadpoolctl==3.3.0
tinycss2==1.2.1
tomli==2.0.1
tornado==6.4.1
tqdm==4.66.1
traitlets==5.14.3
txaio==23.1.1
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
uri-template==1.3.0
urllib3==2.0.3
vpython==7.6.5
wcwidth==0.2.13
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.1
widgetsnbextension==4.0.11
wrapt==1.16.0
yarl==1.9.2
zipp==3.16.0
