#my_dataviz {
    margin: auto;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

svg {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f5f5f5;
    color: #333;
}

/* Header styling */
h1, h2, h3 {
    color: #2c3e50;
    font-size: 70px;
    margin-bottom: 20px;
}

/* Div styling */
#inner {
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 1200px;
}

/* Embed styling */
embed {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
p {
    margin: 0 0 1em; /* add some space between paragraphs */
    font-size: 1rem; /* set a default font size */
    line-height: 1.5; /* improve readability */
    text-align: left; /* align text to the left */
    color: #333; /* set a default text color */
  }